# The Basics of Linear Regression
This notebook covers the fundamentals of linear regression in machine learning. In this project we look at the following:
- Data Preparation
- Split Dataset for Machine Learning
- Train the model
- compute the mean square error
- Compute the $R^2$ 


We will go ahead by importing the neccessary python libraries. Because this covers the fundamentals, we will not be using sicit-learn, rather we will code directly using the normal equation 

## About the data set
We are going to be using a car data set. it has the following features
- `Make`: This refers to the manufacturer of the the car
- `Model`: Refers to the model of the car
- `Year`: The manufacture date of the the car
- `Engine Fuel`: The fuel capacity of cars
- `Engine HP`: The horse power of car engine
- `Engine Cyclinder`: The cylinder of the car

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
df=pd.read_csv("data/car_sales.csv")
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650